<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>FineUI.Java · 电影管理</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:panel id="Panel1" body-padding="10" show-border="false" layout="VBox" show-header="false" is-view-port="true">
                <f:items>
                    <f:form show-border="false" show-header="false">
                        <f:rows>
                            <f:form-row>
                                <f:items>
                                    <f:twin-trigger-box id="ttbSearchMessage" show-label="false" empty-text="在名称中搜索" trigger1-icon="Clear" show-trigger1="false"
                                        trigger2-icon="Search" on-trigger1-click="ttbSearchMessage_Trigger1Click"
                                        on-trigger2-click="ttbSearchMessage_Trigger2Click"></f:twin-trigger-box>
                                    <f:label></f:label>
                                </f:items>
                            </f:form-row>
                        </f:rows>
                    </f:form>

                    <f:grid id="Grid1" box-flex="1" show-border="true" show-header="false" row-type-from="movies" data-id-field="id" data-text-field="title"
                        data-key-names="id,title" allow-paging="true" is-database-paging="true" page-size="3" on-page-index-changed="Grid1_PageIndexChanged"
                        allow-sorting="true" sort-field="title" sort-direction="DESC" on-sort="Grid1_Sort" on-row-command="Grid1_RowCommand">
                        <f:columns>
                            <f:row-number-field></f:row-number-field>
                            <f:render-field for="title" quick-sort-field="true" expand-unused-space="true"></f:render-field>
                            <f:render-field for="releaseDate" quick-sort-field="true" width="150"></f:render-field>
                            <f:render-field for="genre" quick-sort-field="true"></f:render-field>
                            <f:render-field for="price" quick-sort-field="true"></f:render-field>
                            <f:render-field enable-column-hide="false" enable-header-menu="false" width="100">
                                <f:commands>
                                    <f:command command-name="Edit" icon="Pencil" tool-tip="编辑" window-id="Window1" window-title-format-string="编辑"
                                        window-iframe-url-format-string="/movie-edit?id={0}" window-iframe-url-fields="id"></f:command>
                                    <f:command command-name="Delete" icon="Delete" tool-tip="删除" css-class="mybtn3" confirm-text="确定删除此记录？"
                                        confirm-target="Top"></f:command>
                                </f:commands>
                            </f:render-field>
                        </f:columns>
                        <f:toolbars>
                            <f:toolbar id="Toolbar1" position="Top">
                                <f:items>
                                    <f:toolbar-fill></f:toolbar-fill>
                                    <f:button id="btnNew" icon-font="PlusCircle" text="新增" click-handler="onNewClick"></f:button>
                                </f:items>
                            </f:toolbar>
                        </f:toolbars>
                    </f:grid>
                </f:items>
            </f:panel>

            <f:window id="Window1" is-modal="true" hidden="true" target="Top" enable-resize="true" enable-maximize="true" enable-iframe="true" width="650"
                height="400" close-action="HidePostBack" on-close="Window1_Close"></f:window>
        </th:block>

        <th:block layout:fragment="script">
            <script>
                // 点击「新增」：在弹出窗体中打开新增页
                function onNewClick(event) {
                    F.ui.Window1.show('/movie-new', '新增');
                }

            </script>
        </th:block>
    </body>

</html>
